<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

    <%- include('partials/navbar.ejs') %>
   
    <div class="blog_container">
        <% results.forEach(blog => { %>
            <a href="/single-blog/<%=blog._id%>"
                >
            <div class="blog">
                <div class="blog_image">
                    <img src="<%= blog.blogImage %>" alt="">
                </div>
                <div class="blog_texts">
                    <h1 id="blogTitle"><%= blog.blogTitle %></h1>
                    <p id="blogAuthor"><%= blog.blogAuthor %></p>
                    <p id="blogBody"><%= blog.blogBody %></p>
                </div>
            </div>
            </a>
        <%})%>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>